name: Build and Deploy Solution Archive
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install --user --no-cache-dir requests
      - name: Run Python script to generate JSON and README
        run: python Web/generate.py
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: Auto-update solutions.json and README.md"
          file_pattern: Web/**/* README.md
          add_options: '--force'
      - name: Prepare Website Files
        run: |
          echo "Preparing files..."
          touch Web/.nojekyll
          echo "Listing Web directory content to verify:"
          ls -F Web/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'Web/'
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url || 'https://mhdnazrul.github.io/Codeforces-Solutions' }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4